@media only screen and (max-width: 1200px) 
{
	#title{
		text-align: center;
		height:70vh;
	}

	.iphone-img{
		transform: rotate(0);
		position: static;
		height: 700px;
		margin: 0 auto;
	}

	.hidden{
		visibility: hidden;	
	}
}