*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


#title{
	background-color: #ff4c68;
	height: 90vh;
	position: relative;
}

/* .container-fluid{
	padding: 30% 10%;
} */

.container-fluid{
	/* background-color: lightblue; */
	padding: 3% 15%;
}


.main-heading{
	font-family: 'Montserrat', sans-serif;
	size: 3.5rem;
	line-height: 1.5;
	font-weight: 1000;
	color: white;
}

/* .btn{
	width: 180px;
} */

/* .apple-button{
	display: flex;
	align-items: center;
} */


.navbar-brand{
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
}

nav{
	margin: 0 auto 4rem auto;
	/* background-color: lawngreen; */
}

.nav-item{
	margin: 0 18px;
	/* background-color: aquamarine; */
}

.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.buttons{
	margin: 10% 0% 10% 0%;
}

.header-body{
	/* background-color: lightseagreen; */
	margin: 0% 0% 0% 0.75%;
}

.iphone-img{
	transform: rotate(25deg);
	margin: 0% 0% 0% 20%;
	/* background-color: lavender; */
	width: 60%;
	position: relative;
	/* bottom: 30px; */
	z-index: 0;
	
}

#features{
	margin: 0rem auto 0 auto;
	padding: 6rem 1rem 5rem 1rem;
	width: 80%;
	text-align: center;
	background-color:#fff;
	position: relative;
	z-index: 1;
}

.features{
	/* background-color: lightblue;
	border : 1px solid black; */
	margin: 1rem auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.fas{
	/* height: 50px; */
	font-size: 3rem;
	/* background-color: lightpink; */
	margin: 0% auto 5% auto;
	color: #ef8172;
}

.fas:hover{
	color: #ff4c68;
}

.feature-heading{
	font-weight: 550;
	font-size: 1.5rem;
}

.feature-description{
	color: #8f8f8f;
	font-size: 0.9rem;
	/* background-color: lightcyan; */
	width: 80%;
}

/* testimonials */

#testimonials{
	background-color: #ef8172;
	padding: 5rem 1rem 5rem 1rem;
	margin: 2.5rem auto 0 auto;
	text-align: center;
	width: 100%;
	/* height: 100vh; */
	color: #fff;
}

.testimonials-heading{
	font-size: 2.7rem;
	font-weight: bold;
	line-height: 1.5;
	/* background-color: lightgreen; */
}

.testimonial-container{
	width: 80%;
	/* background-color: lavender; */
	margin: 0 auto;
}

.testimonial-img{
	width: 10%;
	border-radius: 50%;
	margin: 20px;
}

#press{
	background-color: #ef8172;
	text-align: center;
	padding: 0 0 3% 0;
}

.press-img{
	width: 15%;
	margin: 20px 20px 50px 20px;
}



/* PRICING */

.card{
	position: relative;
	text-align: center;
	margin: 0 0 0 20px;
}

.card-row{
	/* background-color: lightblue; */
	padding: 5% 10%;
}

.card-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing-btn{
	position:absolute;
	bottom: 28px;
	margin: 0 auto;
}

.btn-block{
	width: 80%;
}


.last-btn{
	width: 90%;
	margin: 0 auto;
}

.card-heading{

	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
	font-size: 1.5rem;

}

.card-body-heading
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
	color: #000;
}

.card-body{
	color: #8f8f8f;
}

.btn{
	font-weight: 400;
}

.pricing-text{
	/* background-color: lightskyblue; */
	text-align: center;
	/* padding: 5% 0%; */
}

.pricing-heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
	font-size: 2.7rem;
}

.pricing-description{
	color: #8f8f8f;
}

#pricing{
	/* background-color: lightslategray; */
	padding: 8% 0%;
}

/* Call to action */
#cta{
	background-color: #ff4c68;
	padding: 5rem 0 10rem 0;
	position: relative;

}

.cta-heading{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 550;
	font-size: 2.7rem;
	text-align: center;
	margin-bottom: 50px;
}

.cta-container{
	width: 80%;
	margin: 0 auto;
	/* background-color: lemonchiffon; */

}

.cta-buttons{
	display: flex;
	justify-content: center;
	/* background-color: aqua; */
	/* padding: 5% 0 5% 0; */
	/* background-color: lightblue; */
	position: absolute;
	bottom: 100px;
	width: 100%;

}

.cta-btn{
	margin-right: 20px;
}

footer{
	/* background-color: lightgoldenrodyellow; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0 1rem 0;
}

.social-media-icons{
	font-size: 20px;
	color: #000;
	margin: 2px;
}

.copyright{
	color: #8f8f8f;
	font-size: 0.9rem;
	/* background-color: lightcyan; */
	margin-top: 20px;
}

.social-media-icons:hover{
	color: #ff4c68;
}