*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


#title{
	background-color: #ff4c68;
	/* height: 90vh; */
}

/* .container-fluid{
	padding: 30% 10%;
} */

.container-fluid{
	/* background-color: lightblue; */
	padding: 3% 15%;
}


.main-heading{
	font-family: 'Montserrat', sans-serif;
	size: 3rem;
	line-height: 1.5;
	font-weight: 1000;
	color: white;
}

/* .btn{
	width: 180px;
} */

/* .apple-button{
	display: flex;
	align-items: center;
} */


.navbar-brand{
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
}

nav{
	margin: 0 auto 4.5rem auto;
	/* background-color: lawngreen; */
}

.nav-item{
	margin: 0 18px;
	/* background-color: aquamarine; */
}

.buttons{
	margin: 20% 0%;
}

.header-body{
	/* background-color: lightseagreen; */
	margin: 0% 0% 0% 0.75%;
}

.iphone-img{
	transform: rotate(20deg);
	padding: 0% 0% 0% 50px;
	/* background-color: lavender; */
	
}